@model TheGalleryWalk.Models.GalleryOwnerEntity

@{
    ViewBag.Title = "OwnedGalleries";
}
<html>
<head>
<style>
#barElement {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#listElement {
    float: left;
    color:whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
}


</style>
</head>
<body>

<ul id="barElement">
  <li id="listElement">Name: </li>
    <li id="listElement">Email: </li>
    <li id="listElement">Phone: </li>
  
</ul>

</body>
</html>

<h2>OwnedGalleries</h2>

<img src="/Content/demoImages/demoGallery.jpg" alt="demo Gallery" style="width:auto; height:auto;" />

