@using Parse;
@using System.Threading;
@using System.Diagnostics;
@using TheGalleryWalk.Models;
@model IList<GalleryEntity>


<head>
    <link rel="stylesheet" href="~/Content/GalleryWalkStyles.css">

</head>
@if (Model != null)
{
    Debug.WriteLine("Data is not null " + Model.Count());
    foreach (GalleryEntity item in Model)
    {
        <a  href="@Url.Action("GalleryView","Gallery", item)">
            <div class="GalleryInfoWindow" style="margin:10px">
                <img src=@Url.Content(item.ImageURL) id="EntityImage" class="resize_fit_center" alt="demo Gallery" style="width:auto; border-radius:4px; height:250px;" />
                <p style="margin-top:8px; color:rgb(85,85,85); text-shadow: 0px 0px 4px rgba(0,0,0,0.4)">@Html.Raw(item.Name)</p>
            </div>
        </a>
    }
}
