@using Parse;
@using System.Threading;
@using System.Diagnostics;
@using TheGalleryWalk.Models;
@model IEnumerable<GalleryParseClass>


<head>
    <link rel="stylesheet" href="~/Content/GalleryWalkStyles.css">

</head>
@if (Model != null)
{
    string name;
    Debug.WriteLine("Data is not null " + Model.Count());
    foreach (var item in Model)
    {

        GalleryEntity gallery = new GalleryEntity();
        gallery.ParseID = item.ObjectId;
        gallery.Name = item.Get<string>("Name");
        gallery.EmailAddress = item.Get<string>("Email");
        gallery.PhoneNumber = item.Get<string>("PhoneNumber");
        gallery.Address = item.Get<string>("Address");

        gallery.ArtistAdd = new ArtistEntity();
        gallery.ArtworkAdd = new ArtworkEntity();

        name = item.Get<string>("Name");
        <a  href="@Url.Action("GalleryView","Gallery", gallery)">
            <div class="GalleryInfoWindow" style="margin:10px">
                <img src="/Content/demoImages/demoGallery.jpg" alt="demo Gallery" style="width:auto; border-radius:4px; height:auto;" />
                <p style="margin-top:8px; color:white; text-shadow: 0px 0px 4px rgba(0,0,0,0.4)">@Html.Raw(name)</p>
            </div>
        </a>
    }
}
