@using Parse;

<head>
    <link rel="stylesheet" href="~/Content/GalleryWalkStyles.css">

</head>
@if (Model != null)
{
    foreach (var item in @Model)
    {
       <div class="GalleryInfoWindow" style="margin:10px">
                <img src="/Content/demoImages/demoGallery.jpg" alt="demo Gallery" style="width:auto; height:auto;" />
                <p style="margin-top:8px;">MoMA: Philadelphia, PA</p>
       </div>
    }
}
