@using Parse;
@model IEnumerable<ParseObject>

@using System.Diagnostics;


<head>
    <link rel="stylesheet" href="~/Content/GalleryWalkStyles.css">

</head>
@if (Model != null)
{
    string name;
    Debug.WriteLine("Data is not null " + Model.Count());
    foreach (var item in Model)
    {
       
        name = item.Get<string>("Name");

        <div class="GalleryInfoWindow" style="margin:10px">
            <img src="/Content/demoImages/demoGallery.jpg" alt="demo Gallery" style="width:auto; border-radius:4px; height:auto;" />
            <p style="margin-top:8px; color:white; text-shadow: 0px 0px 4px rgba(0,0,0,0.4)">@Html.Raw(name)</p>
        </div>
    }
}
