@model TheGalleryWalk.Models.GalleryOwnerData

@{
    ViewBag.Title = "OwnedGalleries";
}
<html>
<head>
<style>
#barElement {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#listElement {
    float: left;
    color:whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
}


#tileAttributes{
    background-color:aliceblue;
    padding: 10px;
}

</style>
</head>
<body>
    
    <div class="Info-header">
           <h3>
               My Galleries
           </h3>    
    </div> 
   
    <div style="text-align:center;">
        @Html.Partial("~/Views/OwnedGalleries/GalleryPartialView.cshtml", @Model.galleries.ToList())
    </div>
    <div>
        <div class="add-btn">
            <h4>+ Gallery  </h4>
        </div>
    </div>
</body>
</html>


