@model TheGalleryWalk.Models.GalleryOwnerData

@{
    ViewBag.Title = "OwnedGalleries";
}
<html>
<head>
<style>
#barElement {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#listElement {
    float: left;
    color:whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
}


#tileAttributes{
    background-color:aliceblue;
    padding: 10px;
}

</style>
</head>
<body>

<ul id="barElement">
    <!--
  <li id="listElement">Name: @Model.Name</li>
        -->
  <li id="listElement">Email: @Model.EmailAddress</li>
    <!--
  <li id="listElement">Phone: @Model.PhoneNumber</li>
        -->
  
</ul>


</body>
</html>

<h2>OwnedGalleries</h2>
 


<div style="padding:10px; padding-bottom:0px; background-color:#0289FF; width:220px">
    <img src="/Content/demoImages/demoGallery.jpg" alt="demo Gallery" style="width:auto; height:auto;" />
    <p style="color:whitesmoke">MoMA: Philadelphia, PA</p>

</div>

