@using Parse;
@using System.Threading;
@using System.Diagnostics;
@using TheGalleryWalk.Models;
@model IEnumerable<ArtistEntity>


<head>
    <link rel="stylesheet" href="~/Content/GalleryWalkStyles.css">

</head>
@if (Model != null)
{
    Debug.WriteLine("Artist partial called with non null model");
    Debug.WriteLine("Data is not null " + Model.Count());
    foreach (ArtistEntity item in Model)
    {
         <a  href="@Url.Action("ArtistView","Artist", item)">
            <div class="GalleryInfoWindow" style="margin:10px">
                <img src=@Url.Content(item.ImageURL) class="resize_fit_center" alt="demo Gallery" style="width:200px; border-radius:4px; height:200px;" />
                <p style="margin-top:8px; color:rgb(85,85,85); text-shadow: 0px 0px 4px rgba(0,0,0,0.4)">@Html.Raw(item.Name)</p>
            </div>
        </a>
    }
}
