@using Parse;
@using System.Threading.Tasks;
@using System.Diagnostics;
@using TheGalleryWalk.Models;
@model IEnumerable<GalleryEntity>

<head>
    <link rel="stylesheet" href="~/Content/GalleryWalkStyles.css">
</head>

@if (Model != null)
{
    foreach (GalleryEntity item in Model)
    {
        <a href="@Url.Action("GalleryView","Gallery", item)">
            <div class="GalleryInfoWindow" style="margin:10px">
                <img src=@Url.Content(item.ImageURL) id="EntityImage" class="resize_fit_center" alt="demo Gallery" style="width:auto; border-radius:4px; height:auto;" />                <p style="margin-top:8px; color:white; text-shadow: 0px 0px 4px rgba(0,0,0,0.4)">@Html.Raw(item.Name)</p>
            </div>
        </a>

    }
}
