@using System.Diagnostics;
@using TheGalleryWalk.Models;
@model TheGalleryWalk.Models.ArtistUserEntity

@{
    ViewBag.Title = "ArtistAccountView";
    Layout = "~/Views/Shared/_LayoutArtistLoggedIn.cshtml";
}

<h2 style="color:gray">Galleries Following me</h2>

@try
{
    <div>
        @try
        {
            foreach (GalleryOwnerEntity owner in Model.OwnersFollowingThisArtistUser)
            {
                <div id=@Html.Raw(owner.EmailAddress) style="background-color:grey; color:white; margin:auto; margin-top:15px; padding:10px;">
                    <h6>These Galleries are following you,</h6>

                    @if (Model.PermittedGalleries.Contains(owner.ParseID))
                    {
                        <div style="margin:20px; padding: 5px; background-color: aqua; width:200px; float:right; border-radius:5px;">
                            <a href="@Url.Action("toggleArtworkSharing", "Artist_Account", owner)">
                                - Disable Sharing -
                            </a>
                        </div>
                   }
                    else
                    {
                        <div style="margin:20px; padding: 5px; background-color: aqua; width:200px; float:right; border-radius:5px;">
                            <a href="@Url.Action("toggleArtworkSharing", "Artist_Account", owner)">
                                - Enable Sharing -
                            </a>
                        </div>
                    }

                    @Html.Partial("~/Views/OwnedGalleries/GalleryPartialView.cshtml", owner.GalleryEntities)
                </div>
            }
        }
        catch (Exception ex)
        {
            Debug.WriteLine("There was an error ::    " + ex);
        }
    </div>
}
catch (Exception ex)
{
    Debug.WriteLine("There was an error ::    " + ex);
}



<script type="text/javascript">
    $(document).ready(function () {  
        var scrollIndicator = @(ViewBag.ScrollToId);

        if(scrollIndicator != null){
            alert("Scroll to view");
            document.getElementById(scrollIndicator).scrollIntoView(true);
        }
    })
</script>

