
@{
    ViewBag.Title = "CompletedSignUp";
}

<div class="GalleryContent" style="padding-top:50px;">
    <div class="RegisterForm" style="padding:20px;">
            <h4 style="color:white; margin:20px;">You have sucessfully registered for an account, you will have to wait for an administrator to enable your account before you can begin using it</h4>
    </div>
</div>