@{
    ViewBag.Title = "About";
}

<html >
        <body style ="background-image: url(https://theartgalleryumd.files.wordpress.com/2011/10/dsc0017.jpg); background-size:cover; vertical-align:middle;">



<div class="GalleryContent" >
    <div style="text-align:center; background-color: rgba(5,4,2,0.7); text-decoration-color:aliceblue;">
        <br />
        <h2 style="text-align:center; color: white;">About the Gallery Walk</h2>
        <br />
        <span style="font-size:large;font-family:'Times New Roman', Times, serif; color: white;">
            Our client is involved in the art world and has a great interest in supporting local art galleries.
            However, small business owners have a difficult time standing out from larger companies that have all the resources
            they need for advertising in order to be successful. Our client has proposed a web service to give small business
            owners a digital storefront to display all of their artwork online.
            The web service will need a website to display the art galleries artwork to any users, and have a secure login for gallery owners to add and update new artwork.
        </span>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
 </div>
    <div class="GalleryContent2" style="background-color: rgba(5,4,2,0.7); text-decoration-color:aliceblue; width=20vw">
        <h4 style="text-align:left; font-style:italic; color: white;">Contact Us</h4>
        <span style="font-size:small;font-style:italic; text-align:center; color: white;">
            Address: 777 W Harrisburg Pike, Middletown, PA 17057
            <br/>
            Email: theGalleryWalk@psu.edu
            <br/>
            Phone: 123-456-7890
        </span>
    </div>



            </body>
    </html>