
@{
    ViewBag.Title = "CompletedSignUp";
}

<div class="GalleryContent" style="padding-top:50px;">
    <div class="RegisterForm" style="padding:20px;">
            <h4 style="color:white; margin:20px;">You have sucessfully registered for an account, you should get a confirmation email shortly</h4>
    </div>
</div>