@{
    ViewBag.Title = "Home Page";
}



 <html >
        <body style ="background-image: url(https://theartgalleryumd.files.wordpress.com/2011/10/dsc0017.jpg); background-size:cover; vertical-align:middle;">

            <div style="text-align:center; background-color: rgba(5,4,2,0.7); text-decoration-color:aliceblue;">
                <h1 style="color:whitesmoke;">The Gallery Walk</h1>
                <h5 style="color:whitesmoke;">Your one stop resource for art galleries near you!</h5>
            </div>

        </body>
    </html>