
@{
    ViewBag.Title = "ErrorSignUp";
}

<div class="GalleryContent" style="padding-top:50px;">
    <div class="RegisterForm" style="padding:20px;">
        <h4 style="color:white; margin:20px;">Account already exists for the email, please try another email.</h4>
    </div>
</div>
