@using System.Diagnostics;
@using TheGalleryWalk.Models;
@using Parse;
@model TheGalleryWalk.Models.ArtistEntity

@{
    ViewBag.Title = "Owned_ArtistView";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}


<html>
<head>

</head>

<body>
    
       <div class="EntityInformationWindow" id="EntityInformationWindow">

           <div  class="EntityImage">
               <img id="EntityImage" src="/Content/demoImages/demoGallery.jpg" alt="demo Gallery" style="width:auto; border-radius:4px; height:auto;" />
           </div>
           <h3 class="EntityInfo">
               @Model.Name
           </h3>
           <h6 class="EntityInfo">
               @Model.Style
           </h6>
           <h6 class="EntityInfo">
               @Model.Description
           </h6>
           

       </div>



    <span class="Divider"></span>

    <div class="Info-header">
        <h3>
            Displayed Artwork
        </h3>
    </div>

    <div style="text-align:center;">
        @try
        {
            Debug.WriteLine("Model Artwork entities :: " + Model.ArtworkEntities);
            Html.RenderPartial("~/Views/Artist/ArtworkPartialView.cshtml", Model.ArtworkEntities);
           
        }
        catch (Exception ex)
        {
            Debug.WriteLine("There was an error ::    " + ex);
        }
    </div>





</body>

</html>


<script type="text/javascript">

    $(document).ready(function () {

        $("#EntityInformationWindow").height($("#EntityImage").height()+40);
     
        var showFormValue = @(ViewBag.showForm);

    })

</script>

